.App {
    text-align: center;
}

.App-logo {
    height: 12vmin;
    pointer-events: none;
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Regles {
    font-size: 21px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

.lien {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6)
}


.rules li {
    font-size: 16px;
    text-align: left;
    margin-top: 5px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    border: 1px solid red;
}

section > :first-child {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    display: block;
    height: 300px;
    width: auto;
}

.MuiButton-root {
    width: 11em;
}

p.header {
    background: cadetblue;
    text-align: left;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.btnClose{
    float: right;
    background: inherit;
    border: 1px solid transparent;
    border-radius: 2px;
    font-weight: bold;
}
.btnClose:hover{
    border: 1px solid grey;
}

span.container {
    background: #d9d9d9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

span.question, span.answer {
    padding: 10px;
}

span.question {
    width: 80%;
}

span.answer {
    width: 10%;
    text-align: center;
    font-weight: bold;
}

hr {
    width: 95%;
    margin-left: 0;
}